.cleancms-draggable, .cleancms-draggable label {
    cursor: move;
}

.cleancms-draggable .fieldset-name {
    position: absolute;
    right: 45px;
}

.fieldset.cleancms-draggable {
    position: relative;
}

.fieldset.cleancms-draggable .fieldset-name {
    position: absolute;
    right: 2px;
    top: 5px;
    padding: 0 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: gray;
}

.fieldset.cleancms-draggable.dragged-over {
    border-bottom: solid 2px green;
}