<?xml version="1.0"?>
<config>
    <modules>
        <Clean_Cms>
            <version>1.0.0</version>
        </Clean_Cms>
    </modules>
    <global>
        <blocks>
            <cleancms>
                <class>Clean_Cms_Block</class>
            </cleancms>
            <cms>
                <rewrite>
                    <page>Clean_Cms_Block_Page</page>
                </rewrite>
            </cms>
            <adminhtml>
                <rewrite>
                    <cms_page_edit_form>Clean_Cms_Block_Adminhtml_Page_Edit_Form</cms_page_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <cleancms>
                <class>Clean_Cms_Helper</class>
            </cleancms>
        </helpers>
        <models>
            <cleancms>
                <class>Clean_Cms_Model</class>
                <resourceModel>cleancms_mysql4</resourceModel>
            </cleancms>
            <cleancms_mysql4>
                <class>Clean_Cms_Model_Mysql4</class>
                <entities>
                    <fieldset>
                        <table>cleancms_fieldset</table>
                    </fieldset>
                    <field>
                        <table>cleancms_field</table>
                    </field>
                </entities>
            </cleancms_mysql4>
        </models>

        <resources>
            <cleancms_setup>
                <setup>
                    <module>Clean_Cms</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cleancms_setup>
            <cleancms_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cleancms_write>
            <cleancms_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cleancms_read>
        </resources>
    </global>

    <cleancms>
        <block_types>
            <markdown>
                <name>Title and Paragraph</name>
                <block>cleancms/page_fieldset</block>
                <template>cleancms/fieldset/markdown.phtml</template>
                <fields>
                    <title>
                        <type>text</type>
                        <label>Title</label>
                    </title>
                    <content>
                        <type>textarea</type>
                        <label>Content</label>
                    </content>
                </fields>
            </markdown>
            <image_with_content>
                <name>Image with Title &amp; Paragraph</name>
                <block>cleancms/page_fieldset</block>
                <template>cleancms/fieldset/image_with_content.phtml</template>
                <fields>
                    <title>
                        <type>text</type>
                        <label>Title</label>
                    </title>
                    <image>
                        <type>file</type>
                        <label>Image</label>
                    </image>
                    <paragraph>
                        <type>textarea</type>
                        <label>Paragraph</label>
                    </paragraph>
                </fields>
            </image_with_content>
            <page_title>
                <name>Page Title</name>
                <block>cleancms/page_fieldset</block>
                <template>cleancms/fieldset/page_title.phtml</template>
                <fields>
                    <title>
                        <type>text</type>
                        <label>Title</label>
                        <required>1</required>
                    </title>
                    <subtitle>
                        <type>text</type>
                        <label>Sub-Title</label>
                    </subtitle>
                </fields>
            </page_title>
            <hero_with_image>
                <name>Hero with Image</name>
                <block>cleancms/page_fieldset</block>
                <template>cleancms/fieldset/hero_with_image.phtml</template>
                <fields>
                    <title>
                        <type>text</type>
                        <label>Title</label>
                    </title>
                    <image>
                        <type>file</type>
                        <label>Image</label>
                    </image>
                    <paragraph>
                        <required>1</required>
                        <type>textarea</type>
                        <label>Paragraph</label>
                    </paragraph>
                </fields>
            </hero_with_image>
            <call_to_action_with_image>
                <name>Call to Action with Image</name>
                <block>cleancms/page_fieldset</block>
                <template>cleancms/fieldset/call_to_action_with_image.phtml</template>
                <fields>
                    <title>
                        <type>text</type>
                        <label>Title</label>
                    </title>
                    <subtitle>
                        <type>text</type>
                        <label>Subtitle</label>
                    </subtitle>
                    <image>
                        <type>file</type>
                        <label>Image</label>
                    </image>
                    <href>
                        <required>1</required>
                        <type>text</type>
                        <label>URL</label>
                    </href>
                    <button_text>
                        <required>1</required>
                        <type>text</type>
                        <label>Button Text</label>
                    </button_text>
                </fields>
            </call_to_action_with_image>
            <feature_blurbs>
                <name>Feature Blurbs</name>
                <block>cleancms/page_fieldset</block>
                <template>cleancms/fieldset/feature_blurbs.phtml</template>
                <fields>
                    <title1>
                        <type>text</type>
                        <label>Title 1</label>
                    </title1>
                    <blurb1>
                        <type>text</type>
                        <label>Blurb 1</label>
                    </blurb1>
                    <title2>
                        <type>text</type>
                        <label>Title 2</label>
                    </title2>
                    <blurb2>
                        <type>text</type>
                        <label>Blurb 2</label>
                    </blurb2>
                    <title3>
                        <type>text</type>
                        <label>Title 3</label>
                    </title3>
                    <blurb3>
                        <type>text</type>
                        <label>Blurb 3</label>
                    </blurb3>
                    <title4>
                        <type>text</type>
                        <label>Title 4</label>
                    </title4>
                    <blurb4>
                        <type>text</type>
                        <label>Blurb 4</label>
                    </blurb4>
                </fields>
            </feature_blurbs>
            <section_title>
                <name>Section Title</name>
                <block>cleancms/page_fieldset</block>
                <template>cleancms/fieldset/section_title.phtml</template>
                <fields>
                    <title>
                        <type>text</type>
                        <label>Section Title</label>
                    </title>
                    <subtitle>
                        <type>text</type>
                        <label>Section Sub Title</label>
                    </subtitle>
                </fields>
            </section_title>
            <image_list>
                <name>Image List</name>
                <block>cleancms/page_fieldset</block>
                <template>cleancms/fieldset/image_list.phtml</template>
                <fields>
                    <image1>
                        <type>file</type>
                        <label>Image</label>
                    </image1>
                    <title1>
                        <type>text</type>
                        <label>Title</label>
                    </title1>
                    <description1>
                        <type>textarea</type>
                        <label>Description</label>
                    </description1>
                    <image2>
                        <type>file</type>
                        <label>Image</label>
                    </image2>
                    <title2>
                        <type>text</type>
                        <label>Title</label>
                    </title2>
                    <description2>
                        <type>textarea</type>
                        <label>Description</label>
                    </description2>
                    <image3>
                        <type>file</type>
                        <label>Image</label>
                    </image3>
                    <title3>
                        <type>text</type>
                        <label>Title</label>
                    </title3>
                    <description3>
                        <type>textarea</type>
                        <label>Description</label>
                    </description3>
                </fields>
            </image_list>
            <html>
                <name>HTML</name>
                <block>cleancms/page_fieldset</block>
                <template>cleancms/fieldset/html.phtml</template>
                <fields>
                    <content>
                        <type>textarea</type>
                        <label>HTML</label>
                    </content>
                </fields>
            </html>
            <image_with_side_content>
                <name>Image with Content on the Side</name>
                <block>cleancms/page_fieldset</block>
                <template>cleancms/fieldset/image_with_side_content.phtml</template>
                <fields>
                    <title>
                        <type>text</type>
                        <label>Title</label>
                    </title>
                    <subtitle>
                        <type>text</type>
                        <label>Subtitle</label>
                    </subtitle>
                    <image>
                        <type>file</type>
                        <label>Image</label>
                    </image>
                    <content>
                        <type>textarea</type>
                        <label>Content</label>
                    </content>
                </fields>
            </image_with_side_content>
        </block_types>
    </cleancms>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <admin_cleancms before="Mage_Adminhtml">Clean_Cms_Adminhtml</admin_cleancms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <cleancms>
                    <file>cleancms.xml</file>
                </cleancms>
            </updates>
        </layout>
        <events>
            <cms_page_save_before>
                <observers>
                    <cleancms_cms_page_save_before>
                        <class>Clean_Cms_Model_Observer</class>
                        <method>pageSaveBefore</method>
                    </cleancms_cms_page_save_before>
                </observers>
            </cms_page_save_before>
        </events>
    </adminhtml>
</config>